.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Perfil{
  display:flex;
  width: 100%;
position: relative;
margin-bottom: 10px;
box-shadow: 5px 6px 6px 0px #aaa;
border-radius: 20px;
}
.infoPersona{width: 100%; padding-left: 10px;}

.boton-borrar{
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: 0;
  color: red;
  font-weight: bold;
  font-size: 26px;
}

.imgPerfil{height: 100px; width: 100px; margin: auto;}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
